.icon{
    width: 59px;
    height: 42px;
    color: #0040ff;
   
}
h1{
    font-size: 28px;
    text-decoration-line: underline;
    position: relative;
    display: inline;
    color: rgb(0 90 255);
    text-align: center;
    top: 5px;
}
.logo{
    text-align: center;
    padding: 15px
}
.searchbar{
    padding: 24px 172px 22px 296px;
}
.bar{
    display: flex;
    align-items: center;

}
.inputbar{
    height: 56px;
}
.addbtn{

    position: relative;
    display: inline;
    height: 42px;
    width: 74px;
    right: 74px;

}
.cal{
    color: black;
    position: relative;
    width: 29px;
    right: 178px;
    height: 29px;
}
.list{
    padding: 20px 71px 20px 71px;
}
.cls{
    float: right;
    padding: 2px 5px 2px 5px;
}
.rst{
    position: fixed;
    top: 103px;
    right: 143px;
    height: 44px;
}





